@import 'base/mixins';
@import 'base/color-definitions';

@import 'website/fonts';
@import 'website/typography';

// R E S E T : D E F A U L T  T H E M E

// B A S E  T H E M E

a {
  color: $palette-blue-A700;
  &:hover {
    color: $palette-red-A700;
  }
}

// T Y P E

body .book.font-family-0 {
  // serif
}

body .book.font-family-1 {
  font-family: $font-family-sans;
}

.markdown-section {
  @include typography;
}

// A T O M S

.callout {
    padding: 1em;
}

.callout-default { background: $palette-gray-500; }
.callout-tip { background:$palette-green-500; }
.callout-warning { background:$palette-orange-500; }
.callout-option { background:$palette-blue-500; }

.callout h1:first-child, .callout h2:first-child, .callout h3:first-child, .callout h4:first-child, .callout h5:first-child, .callout h6:first-child {
  margin-top: 0;
}

.cta {
    padding: 1em;
}

.cta-default { background: $palette-gray-500; }

.cta h1:first-child, .cta h2:first-child, .cta h3:first-child, .cta h4:first-child, .cta h5:first-child, .cta h6:first-child {
  margin-top: 0;
}